a {
    text-decoration: none;
}

.nav-container {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.top-nav {
    position: relative;
    background-color: #FFF;
    width: 100%;
    height: 90px;
}

.top-nav-menu-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    margin-right: 100px;
}

.top-nav li {
    padding: 10px;
}

.top-nav li:nth-child(6) {
    margin-left: 50px;
}

.top-nav li a {
    color: #000;
}

.social-media-btns {
    width: 40px;
    height: 40px;
}

.bottom-nav {
    position: absolute;
    background-color: #33B5ED;
    height: 50px;
    width: 100%;
}

.bottom-nav-menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

.bottom-nav-menu-items li {
    color: #FFF;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
}

.home-background {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}