:root {
    --font-1: 'Open Sans';
    --font-size-1: 13px;
    --font-size-2: 14px;
    --color-1: rgb(42, 163, 177);
}

body {
    font-family: var(--font-1);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
}

.nav-container {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}

.top-nav {
    position: relative;
    background-color: #FFF;
    width: 100%;
    height: 90px;
}

.top-nav-logo-info {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
    margin-left: 100px;
}

.logo-item {
    padding: 10px !important;
}

.logo-nav {
    display: block;
    width: 70px;
    height: 70px;
}

.nav-logo-name {
    font-size: 35px;
    font-weight: bold;
    color: #000;
}

.top-nav-menu-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    margin-right: 130px;
}

.top-nav li {
    padding: 20px;
    font-size: var(--font-size-1);
}

.top-nav li a {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}


.top-nav li:nth-child(-n + 5) a:hover {
    opacity: .5;
}

.top-nav li:nth-child(6) {
    margin-left: 50px;
    padding: 10px;
}

.top-nav li:nth-child(7) {
    padding: 10px;
}

.top-nav li a {
    color: #000;
}

.social-media-btns {
    width: 40px;
    height: 40px;
}

.bottom-nav {
    position: absolute;
    background-color: var(--color-1);
    top: 90px;
    height: 50px;
    width: 100%;
}

.bottom-nav-menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

}

.bottom-nav-menu-items li {
    color: #FFF;
    font-weight: bold;
    font-size: var(--font-size-2);
    margin: -80px;
}

.order-online-btn {
    background-color: none;
    border: 1px solid white;
    padding: 8px 60px 8px 60px;
    transition: background-color .3s ease-in-out;
}

.order-online-btn:hover {
    background: #FFF;
}

.order-online-btn p {
    color: #FFF;
    transition: color .3s ease-in-out;
}

.order-online-btn:hover p {
    color: #000;
}

.home-background {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-main {
    position: relative;
    width: 150px;
    height: 150px;
    left: 50%;
    transform: translate(-50%, 0);
    filter: brightness(0) invert(1);
}

.main-title {
    text-align: center;
    color: #FFF;
    font-size: 100px;
    font-weight: bold;
}

.title-description {
    text-align: center;
    color: #FFF;
    font-size: 30px;
    margin-top: 30px;
    font-weight: bold;
}

.white-line-break {
    background-color: #FFF;
    height: 200px;
}

.footer-content-container {
    display: grid;
    box-sizing: border-box;
    background-color: var(--color-1);
    height: 80vh;
    grid-template-columns: 1fr 5px 1fr;
    grid-template-rows: 1fr 350px 1fr;
    grid-template-areas: 
    '. . .'
    'title-content white-line hours-container'
    '.  . contact-container';
}

.title-content {
    grid-area: title-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-title {
    font-size: 70px;
    color: white;
}

.footer-description {
    position: relative;
    top: 20px;
    font-size: 20px;
    color: white;
}

.social-media-container {
    position: relative;
    top: 60px;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.small-logo-size {
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1);
}

.footer-logo {
    margin: 8px;
}

.white-line {
    grid-area: white-line;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.hours-container {
    grid-area: hours-container;
    position: relative;
    left: 150px;
    top: 20px;
}

.footer-hours-title {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.footer-store-hours {
    position: relative;
    color: white;
    top: 20px;
    line-height: 25px;
}

.footer-address {
    color: white;
    position: relative;
    top: 50px;
    font-weight: bold;
    line-height: 25px;
}

.ackno-footer {
    display: flex;
    background-color: #FFF;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    color: #a0a09f;
    font-size: 13px;
}