.bar-menu-title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--color-1);
    width: 100%;
}

.menu-title {
    font-weight: bold;
    font-size: 40px;
    margin: 30px;
}

.menu-description {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.menu-tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-tab-item-li {
    margin: 30px;
}

.menu-tab-item {
    color: #000 ;
}
