.bar-menu-title-container {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--color-1);
    width: 100%;
}

.menu-title {
    font-weight: bold;
    font-size: 40px;
    margin: 30px;
}

.menu-description {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.menu-tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-tab-item-li {
    margin: 30px;
}

.menu-tab-item {
    color: #000;
}

.menu-tab-item-1 {
    padding-bottom: 3px;
    border-bottom: 1px solid black;
    transition: 1s;
}

.menu-tab-item-1:hover {
    
}

.menu-tab-item-2 {
    
    padding-bottom: 0px;
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    transition: .2s;
}

.menu-tab-item-2:hover {
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.menu-tab-item-3 {
    
    padding-bottom: 0px;
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    transition: .2s;
}

.menu-tab-item-3:hover {
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.menu-tab-title {
    position: relative;
    font-weight: bold;
    font-size: 20px;
}

.menu-container-box {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0);
}

.menu-container {
    position: relative;
    display: grid;
    top: 50px;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(auto-fit, 110px);
    justify-content: center;
    text-align: left;
    height: 450px;
}

.menu-item-container {
    margin: 0 25px 0 25px;
}

.menu-item-name {
    font-weight: bold;
}

.menu-item-ingredients {
    width: 300px;
}
